{% extends "base.html" %}

{% load static %}

{% block title %}合作加盟{% endblock %}

{% block content %}
    <div class="cp_content_bg">
       <div class="hzjm_content">
        <div class="head_top">

          <div class="logo">
            <a href="/" target="_self" title="回首页"><img src="/static/images/logo1.png" border="0" onMouseOver="this.src='/static/images/logo2.png'" onMouseOut="this.src='/static/images/logo1.png'" /></a>
          </div>
          <div class="navigation">
            <ul class="menu">
                <li>
                    <a href="/home/"><span class="menutitle">首页</span></a>
                </li>
                <li>
                    <a href="/home/ownpic/"><span class="menutitle">自拍神器</span></a>
                </li>
                <li>
                    <span class="crunt">合作加盟</span>
                </li>
                <li>
                    <a href="/home/about/"><span class="menutitle">关于我们</span></a>
                </li>
            </ul>
        </div>
          <div class="star"><a href="javascript:void(0);" onclick="javascript:document.getElementsByTagName('BODY')[0].scrollTop=document.getElementsByTagName('BODY')[0].scrollHeight;" title="立即体验">立即体验</a></div>
</div>
        <div class="hzjm_slogn">
            <h1>随用随借 随借随还</h1>
            <h4>让技术和共享助您，轻松出游，完美自拍，快乐分享</h4>
        </div>
    </div>
    </div>
    <div class="con_white">
       <h2>轻松四步 秒借秒还</h2>
        <h5>不用购买和携带，随借随还。消费升级，轻松出游。妈妈再也不用担心忘带了</h5>
       <div class="cp_sylc"></div>
       <div class="cp_lc_cont">
            <div class="cp_lc_li">
                <h6>第一步</h6>
                <div class="cp_lc_sm">就近机柜，随手可用</div>
            </div>
            <div class="cp_lc_li">
                <h6>第二步</h6>
                <div class="cp_lc_sm">手机扫码，一秒取杆</div>
            </div>
            <div class="cp_lc_li">
                <h6>第三步</h6>
                <div class="cp_lc_sm">享受美好，想拍就拍</div>
            </div>
            <div class="cp_lc_li cp_lc_li_right">
                <h6>第四步</h6>
                <div class="cp_lc_sm">随处可还，便捷低价</div>
            </div>
       </div>
    </div>
    <div class="zpg_fg"></div>
    <div class="con_gray">
        <h2>时尚自拍杆 任你嗨自拍</h2>
        <h5>设计时尚大方，使用方便灵活，还可应急给手机充电</h5>
        <div class="zpg_cont">
            <div class="zpg_cont_li">
                <div class="zpg_left">
                    <div class="zpg_left_img"><img class="icon_img_zpg" src="/static/images/ownpic/shaoma.png"  /></div>
                    <h6>扫码取杆</h6>
                    <div class="zpg_left_sm">支持微信和支付宝扫码即取<br>无需安装APP，取杆简单</div>
                </div>
                <div class="zpg_left">
                    <div class="zpg_left_img"><img class="icon_img_zpg" src="/static/images/ownpic/jiujin.png"  /></div>
                    <h6>就近可还</h6>
                    <div class="zpg_left_sm">支持任意机柜可归还自拍杆<br>随您就近还杆，轻松便利</div>
                </div>
                <div class="zpg_left">
                    <div class="zpg_left_img"><img class="icon_img_zpg" src="/static/images/ownpic/chongdian.png"  /></div>
                    <h6>应急充电</h6>
                    <div class="zpg_left_sm">自拍杆集成了充电宝<br>为您自拍或摄影保障电力</div>
                </div>
            </div>
            <div class="zpg_cont_li"><img class="zpg_img" src="/static/images/ownpic/cp_zpg.jpg"  /></div>
            <div class="zpg_cont_li zpg_cont_li_right">
                <div class="zpg_right">
                    <div class="zpg_left_img"><img class="icon_img_zpg" src="/static/images/ownpic/mianfei.png"  /></div>
                    <h6>免费一小时</h6>
                    <div class="zpg_right_sm">每天一次首小时免费用<br>1小时后，1元/小时，每天8元封顶</div>
                </div>
                <div class="zpg_right">
                    <div class="zpg_right_img"><img class="icon_img_zpg" src="/static/images/ownpic/yajing.png"  /></div>
                    <h6>部分免押金</h6>
                    <div class="zpg_right_sm">芝麻信用650分以上，免押金<br>还杆后，押金随时退</div>
                </div>
                <div class="zpg_right">
                    <div class="zpg_right_img"><img class="icon_img_zpg" src="/static/images/ownpic/goumai.png"  /></div>
                    <h6>喜欢可购买</h6>
                    <div class="zpg_right_sm">自拍支持出售，仅需49元/根<br>保留超5天未归还，自动转为购买</div>
                </div>
            </div>
        </div>
    </div>
    <div class="con_white">
       <h2>炫彩机柜 让自拍杆随借随还</h2>
        <h5>智能时尚机柜，方便识别查找，取还操作简单</h5>
       <div class="jg_cont">
           <div class="jg_img_cont"><img class="jg_img" src="/static/images/ownpic/cp_jg.jpg"  /></div>
           <div class="jg_sm_cont">
               <div class="jg_sm_cont_li">
                   <div class="jg_sm_imgt"><img class="jg_sm_img" src="/static/images/ownpic/jg_chuping.jpg"  /></div>
                   <div class="jg_title">触摸操作屏</div>
                   <div class="jg_sm_text">选择借还方式<br>选择微信或支付宝二维码<br>支持机柜直接操作归还</div>
               </div>
               <div class="jg_sm_cont_li">
                   <div class="jg_sm_imgt"><img class="jg_sm_img" src="/static/images/ownpic/jg_jinchukou.jpg"  /></div>
                   <div class="jg_title">自拍杆进出口</div>
                   <div class="jg_sm_text">手机或触屏控制<br>自动打开电源充足的自拍杆<br>放入后自动归位完成还杆选择借还方式</div>
               </div>
               <div class="jg_sm_cont_li">
                   <div class="jg_sm_imgt"><img class="jg_sm_img" src="/static/images/ownpic/jg_sexi.gif"  /></div>
                   <div class="jg_title">时尚绚丽机柜</div>
                   <div class="jg_sm_text">靓丽外观让您轻松识别找到<br>独家炫彩外壳与景点完美融合<br>时尚个性就要不同选择借还方式</div>
               </div>
           </div>
       </div>
    </div>


{% endblock %}