{% extends "base.html" %}

{% load static %}

{% block title %}合作加盟{% endblock %}

{% block content %}
    <div class="cp_content_bg">
       <div class="hzjm_content">
        <div class="head_top">

          <div class="logo">
            <a href="/" target="_self" title="回首页"><img src="/static/images/logo1.png" border="0" onMouseOver="this.src='/static/images/logo2.png'" onMouseOut="this.src='/static/images/logo1.png'" /></a>
          </div>
          <div class="navigation">
            <ul class="menu">
                <li>
                    <a href="/home/"><span class="menutitle">首页</span></a>
                </li>
                <li>
                    <a href="/home/ownpic/"><span class="menutitle">自拍神器</span></a>
                </li>
                <li>
                    <span class="crunt">合作加盟</span>
                </li>
                <li>
                    <a href="/home/about/"><span class="menutitle">关于我们</span></a>
                </li>
            </ul>
        </div>
          <div class="star"><a href="javascript:void(0);" onclick="javascript:document.getElementsByTagName('BODY')[0].scrollTop=document.getElementsByTagName('BODY')[0].scrollHeight;" title="立即体验">立即体验</a></div>
</div>
        <div class="hzjm_slogn">
            <h1>旅游消费升级 助力景区全域旅游</h1>
            <h4>共享时代已到，顺应共享经济国家战略，携手打造轻生活轻旅游的智慧之旅</h4>
        </div>
    </div>
    </div>
     <div class="con_gray">
        <h2>三种合作模式及框架 因为信任所以简单</h2>
        <h5>景区战略合作或联合运营、城市代理或合伙人，多种合作运营模式</h5>
        <div class="zpg_cont">
                <div class=" hzjm_ys">
           <div class="hzjm_ys_img"><img class="icon_img_zl" src="{% static 'images/home/zlhz.png' %}"></div>
           <h8>景区战略合作</h8>
           <div class="hzjm_ys_sm zl_text"><span class="stro">合作景区收益和付出：<br></span>
               1)景区提供场地<br>
2)机柜广告招商管理和收益归景区<br>
3)景区安排人员负责日常维护<br><br>
<span class="stro">轻拍科技收益和付出：<br></span>
1)轻拍科技提供硬件设备<br>
2)为景区增加互联网获客渠道<br>
3)为景区提供自拍数据<br>
4)为景区做增值服务</div>
                    <div class="hzjm_lx"><a href="https://jinshuju.net/f/ssDlGx" target="_blank" title="战略合作">联系我们 ></a></div>
       </div>
       <div class=" hzjm_ys">
           <div class="hzjm_ys_img"><img class="icon_img_zl" src="{% static 'images/home/lhyy.png' %}"></div>
           <h8>景区联合运营</h8>
           <div class="hzjm_ys_sm zl_text"><span class="stro">合作景区收益和付出：<br></span>
               1)景区提供场地<br>
2)景区进行产品引导<br>
3)景区安排人员负责日常维护<br>
4)双方以一定比例利润分成<br><br>
<span class="stro">轻拍科技收益和付出：<br></span>
1)轻拍科技提供设备和技术支持<br>
2)为景区增加互联网获客渠道<br>
3)为景区提供自拍大数据<br></div>
           <div class="hzjm_lx"><a href="https://jinshuju.net/f/MIuFOW" target="_blank" title="联合运营">联系我们 ></a></div>
       </div>
       <div class="hzjm_ys_right">
           <div class="hzjm_ys_img"><img class="icon_img_zl" src="{% static 'images/home/csdl.png' %}"></div>
           <h8>城市代理或合伙人</h8>
           <div class="hzjm_ys_sm zl_text"><span class="stro">代理商收益和付出：<br></span>
               1)缴纳一定代理费用<br>
2)代理负责开拓景区及布点<br>
3)代理负责日常维护<br>
4)代理可获高比例利润分成<br><br>
<span class="stro">轻拍科技收益和付出：<br></span>
1)轻拍科技提供设备和技术支持<br>
2)为代理提供软硬件升级<br>
           3)轻拍科技提供品牌和形象授权</div>
           <div class="hzjm_lx"><a href="https://jinshuju.net/f/Ixs2wY" target="_blank" title="城市代理">联系我们 ></a></div>
       </div>
        </div>
    </div>
     <div class="zpg_fg"></div>
     <div class="con_white">
       <h2>共享自拍杆四大助力 景区智慧旅游</h2>
        <h5>智能设备和元计算做基础，加上游客自媒体宣传和大数据运营，为智慧旅游献力</h5>
       <div class="zl_cont">
            <div class="zl">
                <div class="zl_t"><img  class="icon_img_zl" src="/static/images/home/ykfw.png"  /></div>
                <h6 class="hzjm_top">1.提升游客体验</h6>
                <div class="cp_lc_sm zl_text">1)微信平台每日上传照片10亿张，约1/3是自拍照片<br>
2)自拍发生的场景最高是出游，其次是聚会、逛街、活动等<br>
3)共享自拍杆，让游客更便捷任意的自拍，服务好游客</div>
            </div>
            <div class="zl">
                <div class="zl_t"><img  class="icon_img_zl" src="/static/images/home/jqxc.png"  /></div>
                <h6  class="hzjm_top">2.增加景区宣传</h6>
                <div class="cp_lc_sm zl_text">1)游客作为自媒体，进行照片分享传播，真实直观影响大<br>
2)游客社交媒体分享，传播速度快、范围广、目标准<br>
3)由图片分享引出的景区宣传，更自然，转化和接受度高</div>
            </div>
            <div class="zl">
                <div class="zl_t"><img class="icon_img_zl"  src="/static/images/home/ykxy.png"  /></div>
                <h6  class="hzjm_top">3.吸引更多游客</h6>
                <div class="cp_lc_sm zl_text">1)精彩照片吸引，时尚便捷的景区共享服务，感受消费升级<br>
2)轻拍科技的全球用户群进行运营推广，市场活动<br>
3)轻拍科技官网公众号等渠道，合作景区的展示推广</div>
            </div>
            <div class="zl zl_right">
                <div class="zl_t"><img class="icon_img_zl" src="/static/images/home/sjyy.png"  /></div>
                <h6  class="hzjm_top">4.助力大数据运营</h6>
                <div class="cp_lc_sm zl_text">1)游客在景区的租借行为同步，助力景点运营和预警<br>
2)合作景区联盟资源共享，精准游客画像</div>
            </div>
       </div>
    </div>


{% endblock %}