{% extends "base.html" %}

{% load static %}

{% block title %}合作加盟{% endblock %}

{% block content %}
    <div class="cp_content_bg">
       <div class="hzjm_content">
        <div class="head_top">

          <div class="logo">
            <a href="/" target="_self" title="回首页"><img src="/static/images/logo1.png" border="0" onMouseOver="this.src='/static/images/logo2.png'" onMouseOut="this.src='/static/images/logo1.png'" /></a>
          </div>
          <div class="navigation">
            <ul class="menu">
                <li>
                    <a href="/home/"><span class="menutitle">首页</span></a>
                </li>
                <li>
                    <a href="/home/ownpic/"><span class="menutitle">自拍神器</span></a>
                </li>
                <li>
                    <span class="crunt">合作加盟</span>
                </li>
                <li>
                    <a href="/home/about/"><span class="menutitle">关于我们</span></a>
                </li>
            </ul>
        </div>
          <div class="star"><a href="javascript:void(0);" onclick="javascript:document.getElementsByTagName('BODY')[0].scrollTop=document.getElementsByTagName('BODY')[0].scrollHeight;" title="立即体验">立即体验</a></div>
</div>
        <div class="hzjm_slogn">
            <h1>旅游消费升级 助力景区全域旅游</h1>
            <h4>共享时代已到，顺应共享经济国家战略，携手打造轻生活轻旅游的智慧之旅</h4>
        </div>
    </div>
    </div>
    <div class="con_white">
       <h2>共享自拍杆 4大助力景区智慧旅游</h2>
        <h5>智能设备和元计算做基础，加上游客自媒体宣传和大数据运营，为智慧旅游献力</h5>
       <div class="zl_cont">
            <div class="zl">
                <div class="zl_t"><img  class="icon_img_zl" src="/static/images/home/ykfw.png"  /></div>
                <h6 class="hzjm_top">1.提升游客体验</h6>
                <div class="cp_lc_sm zl_text">1)微信平台每日上传照片10亿张，约1/3是自拍照片<br>
2)自拍发生的场景最高是出游，其次是聚会、逛街、活动等<br>
3)共享自拍杆，让游客更便捷任意的自拍，服务好游客</div>
            </div>
            <div class="zl">
                <div class="zl_t"><img  class="icon_img_zl" src="/static/images/home/jqxc.png"  /></div>
                <h6  class="hzjm_top">2.增加景区宣传</h6>
                <div class="cp_lc_sm zl_text">1)游客作为自媒体，进行照片分享传播，真实直观影响大<br>
2)游客社交媒体分享，传播速度快、范围广、目标准<br>
3)由图片分享引出的景区宣传，更自然，转化和接受度高</div>
            </div>
            <div class="zl">
                <div class="zl_t"><img class="icon_img_zl"  src="/static/images/home/ykxy.png"  /></div>
                <h6  class="hzjm_top">3.吸引更多游客</h6>
                <div class="cp_lc_sm zl_text">1)精彩照片吸引，时尚便捷的景区共享服务，感受消费升级<br>
2)轻拍科技的全球用户群进行运营推广，市场活动<br>
3)轻拍科技官网公众号等渠道，合作景区的展示推广</div>
            </div>
            <div class="zl zl_right">
                <div class="zl_t"><img class="icon_img_zl" src="/static/images/home/sjyy.png"  /></div>
                <h6  class="hzjm_top">4.助力大数据运营</h6>
                <div class="cp_lc_sm zl_text">1)游客在景区的租借行为同步，助力景点运营和预警<br>
2)合作景区联盟资源共享，精准游客画像</div>
            </div>
       </div>
    </div>
    <div class="zpg_fg"></div>
    <div class="con_gray">
        <h2>经济政策利好 市场趋势方向</h2>
        <h5>“分享经济”已经成为中国经济发展的又一关键词，未来几年共享经济仍将保持年均40%左右的高速增长</h5>
        <div class="zpg_cont">
           <div class="zclh_l">
               <div class="zclh_tw">
                   <img class="icon_img_zl" src="/static/images/home/lkq.jpg"  />从中共十八届五中全会公报首提“分享经济”，到李克强总理在2016年政府工作报告两次提到 “促进分享经济发展”“支持分享经济发展”，再到十三五规划纲要强调“积极发展分享经济”，“分享经济”已经成为中国经济发展的又一关键词。
               </div>
               2016年2月，十三五规划纲要提出，鼓励搭建资源开放共享平台，积极发展分享经济。<br>
2016年3月，政府工作报告提出，以体制机制创新促进分享经济发展。<br>
2016年5月中  李克强总理 共享经济实现闲置资源充分利用，形成新的增长点，为经济注入强劲动力。<br>
2016年6月夏季达沃斯 李克强：共享经济也是众创经济，让人人参与人人受益。<br>
2016年7月，《国家信息化发展战略纲要》发布，强调要“发展分享经济，建立网络化协同创新体系”。<br>
2017年6月21日 李克强主持国务院常务会议 促进分享经济健康发展。<br>
2017年7月3日 国家发改委等八部委联合印发《关于促进分享经济发展的指导性意见》。
           </div>
        </div>
    </div>
    <div class="con_white">
       <h2>炫彩机柜 让自拍杆随借随还</h2>
        <h5>智能时尚机柜，方便识别查找，取还操作简单</h5>
       <div class="jg_cont">
           <div class="jg_img_cont"><img class="jg_img" src="/static/images/ownpic/cp_jg.jpg"  /></div>
           <div class="jg_sm_cont">
               <div class="jg_sm_cont_li">
                   <div class="jg_sm_imgt"><img class="jg_sm_img" src="/static/images/ownpic/jg_chuping.jpg"  /></div>
                   <div class="jg_title">触摸操作屏</div>
                   <div class="jg_sm_text">选择借还方式<br>选择微信或支付宝二维码<br>支持机柜直接操作归还</div>
               </div>
               <div class="jg_sm_cont_li">
                   <div class="jg_sm_imgt"><img class="jg_sm_img" src="/static/images/ownpic/jg_jinchukou.jpg"  /></div>
                   <div class="jg_title">自拍杆进出口</div>
                   <div class="jg_sm_text">手机或触屏控制<br>自动打开电源充足的自拍杆<br>放入后自动归位完成还杆选择借还方式</div>
               </div>
               <div class="jg_sm_cont_li">
                   <div class="jg_sm_imgt"><img class="jg_sm_img" src="/static/images/ownpic/jg_sexi.gif"  /></div>
                   <div class="jg_title">时尚绚丽机柜</div>
                   <div class="jg_sm_text">靓丽外观让您轻松识别找到<br>独家炫彩外壳与景点完美融合<br>时尚个性就要不同选择借还方式</div>
               </div>
           </div>
       </div>
    </div>


{% endblock %}