{% extends "base.html" %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="main_content_home">
       <div class="main_content_home_con"></div>
    </div>
    <div class="cont_big">
        共享不是省钱,而是一种经济低碳的行为<br>
共享不是节约,而是一种精神和物质富足的表现<br>
共享不是将就,而是一种时尚潮流和生活方式<br>
<span class="head2">轻拍科技,以共享自拍杆为基点,开启旅行共享时代,享受轻生活</span>
    </div>

    <div class="home_cont">
        <div class="home_cont_img"><img src="{% static 'images/home/page1_home_11.jpg' %}"></div>
        <div class="home_cont_text">
            <span class="home_cont_title">旅行应该是轻松的</span><br>
<span>人生除了奋斗，还需要享受<br>
当你累时，你可去旅行<br>
享受自然的美丽，呼吸新鲜空气，交新朋友<br>
带着心灵去轻松旅行，不必大包小包全副武装<br>
你负责发现精彩，我负责备好自拍神器
</span>


        </div>
    </div>
    <table class="main_content">
        <tr>
            <td colspan="2"><img src="{% static 'images/home/page1_home_09.jpg' %}"></td>
        </tr>
        <tr>
            <td><img src="{% static 'images/home/page1_home_11.jpg' %}"></td>
            <td><span class="title">旅行应该是轻松的</span><br>
<span>人生除了奋斗，还需要享受<br>
当你累时，你可去旅行<br>
享受自然的美丽，呼吸新鲜空气，交新朋友<br>
带着心灵去轻松旅行，不必大包小包全副武装<br>
你负责发现精彩，我负责备好自拍神器
</span></td>
        </tr>
        <tr>
            <td><span class="title">手机拍照是必须的</span><br>
<span>无拍照不分享，无分享不出游<br>
没有自拍，等于精彩没发生<br>
生活不易，唯有自拍证明你还存在<br>
自拍不是病而是文化，是新的沟通表达方式<br>
举起手机随时自拍，打卡签到记录
</span></td>
            <td><img src="{% static 'images/home/page1_home_14.jpg' %}"></td>
        </tr>
        <tr>
            <td><img src="{% static 'images/home/page1_home_16.jpg' %}"></td>
            <td><span class="title">自拍杆是随手可用的</span><br>
<span>手短镜头近，自拍杆来搞定<br>
美景精彩全入镜，只需自拍神器<br>
任意狂拍不求人，共享自拍神器随你嗨<br>
自拍神器遍布景点，随手可借还省事<br>
微信支付宝扫码即用，方便快捷又简单
</span></td>
        </tr>
        <tr>
            <td colspan="2"><span>共享，不是省钱，而是一种经济环保的精神；<br>
共享，不是节约，而是一种精神境界的升级；<br>
共享，不是将就，而是一种时尚和文化；<br>
轻拍科技，以共享自拍杆为基点，开启旅行共享时代，享受轻生活～
</span></td>
        </tr>
    </table>

{% endblock %}