{% extends "base.html" %}

{% load static %}

{% block title %}首页{% endblock %}

{% block content %}
    <div class="home_content_bg">
       <div class="home_content">
        <div class="head_top">

          <div class="logo">
            <a href="/" target="_self" title="回首页"><img src="/static/images/logo1.png" border="0" onMouseOver="this.src='/static/images/logo2.png'" onMouseOut="this.src='/static/images/logo1.png'" /></a>
          </div>
          <div class="navigation">
            <ul class="menu">
                <li>
                    <span class="crunt">首页</span>
                </li>
                <li>
                    <a href="/home/ownpic"><span class="menutitle">自拍神器</span><span
                            class="menudesc"></span></a>
                </li>
                <li>
                    <a href="/home/about"><span class="menutitle">关于我们</span><span
                            class="menudesc"></span></a>
                </li>
            </ul>
        </div>
          <div class="star"><a href="#" title="立即体验">立即体验</a></div>
</div>
        <div class="home_slogn">
            <h1>轻生活 轻旅行 嗨自拍</h1>
            <h4>随处可用的自拍神器，助你留影记录美丽、签到分享精彩</h4>
        </div>
    </div>
    </div>
    <div class="con_white">
       <h2>当旅游遇上共享</h2>
        <h5>出游拍照留念发朋友圈是必须的，有了共享更应该是轻松方便的</h5>
       <div class="home_ys">
           <div class="home_ys_img"><img class="ys_imge" src="{% static 'images/home/home_qs.jpg' %}"></div>
           <h6>生命需要旅行</h6>
           <div class="home_ys_sm">"旅行的真谛，不是运动，而是带动你的灵魂，去寻找到生命的春光。"<br>--（美国作家哲学家）梭罗</div>
       </div>
       <div class="home_ys">
           <div class="home_ys_img"><img class="ys_imge" src="{% static 'images/home/home_pz.jpg' %}"></div>
           <h6>旅行需要拍照</h6>
           <div class="home_ys_sm">"好的照片，可以讲出一个故事，可以交流一种思想或表达一种感情。"<br>--（中国摄影记者）陶然</div>
       </div>
       <div class="home_ys ys_right">
           <div class="home_ys_img"><img class="ys_imge" src="{% static 'images/home/home_ss.jpg' %}"></div>
           <h6>拍照需要自拍杆</h6>
           <div class="home_ys_sm">"君子生非异也，善假于物也。好的自拍照片，离不开自拍神器"<br>--（战国末期思想家教育家）荀子</div>
       </div>
    </div>
    <div class="con_gray">
       <h2> 租根自拍杆尽情自拍</h2>
       <h5>不用购买和携带，随借随还。消费升级，轻松出游。再也不用担心忘带了</h5>
       <div class="home_sy">
           <div class="sy1">就近机柜，随手可用</div>
           <div class="sy1 sy2">手机扫码，一秒取杆</div>
           <div class="sy1 sy3">享受美好，想拍就拍</div>
           <div class="sy1 sy4">随处可还，付几块钱</div>
       </div>
    </div>
    <div class="con_white">
       <h2>开启旅行共享时代 享受时尚轻生活</h2>
        <h5 class="icon_h5">轻拍科技，以共享自拍杆为基点。利用技术结合共享模式，让您的出游更轻松</h5>
       <div class="home_ys icon_ys">
           <div class="home_ys_img"><img class="icon_img" src="{% static 'images/home/paizhao.png' %}"></div>
           <h6>自拍更完美</h6>
           <div class="home_ys_sm">让你自拍更随意更完美更方便，不求人也能拍出很好的合影和个人留影</div>
       </div>
       <div class="home_ys icon_ys">
           <div class="home_ys_img"><img class="icon_img" src="{% static 'images/home/shengxin.png' %}"></div>
           <h6>出游更省心</h6>
           <div class="home_ys_sm">无需购买和携带，不用担心出门忘带，为您舟车过程减轻包袱</div>
       </div>
       <div class="home_ys icon_ys_right">
           <div class="home_ys_img"><img class="icon_img" src="{% static 'images/home/bianjie.png' %}"></div>
           <h6>使用更便捷</h6>
           <div class="home_ys_sm">"在景区随借随还，无需安装APP，扫码即取放回即还。让你1秒钟即可神器到手</div>
       </div>
       <div class="home_ys icon_ys">
           <div class="home_ys_img"><img class="icon_img" src="{% static 'images/home/ditan.png' %}"></div>
           <h6>共享 = 低碳</h6>
           <div class="home_ys_sm">共享不是省钱，而是一种经济低碳的行为，为人类为全球环境气候改善做了贡献</div>
       </div>
       <div class="home_ys icon_ys">
           <div class="home_ys_img"><img class="icon_img_sm" src="{% static 'images/home/fuyu.png' %}"></div>
           <h6>共享 = 富裕</h6>
           <div class="home_ys_sm">享不是节约，而是一种精神和物质富足的表现，无需用物质来显示自己的财富</div>
       </div>
       <div class="home_ys icon_ys_right">
           <div class="home_ys_img"><img class="icon_img_sm" src="{% static 'images/home/shishang.png' %}"></div>
           <h6>共享 = 时尚</h6>
           <div class="home_ys_sm">"共享不是将就，而是一种时尚，代表了前卫和新潮社会生活方式</div>
       </div>
    </div>


    <div class="main_content_home">
       <div class="main_content_home_con"></div>
    </div>
    <div class="cont_big">
        共享不是省钱,而是一种经济低碳的行为<br>
共享不是节约,而是一种精神和物质富足的表现<br>
共享不是将就,而是一种时尚潮流和生活方式<br>
<span class="head2">轻拍科技,以共享自拍杆为基点,开启旅行共享时代,享受轻生活</span>
    </div>

{% endblock %}