{% extends "base.html" %}

{% load static %}

{% block title %}自拍神器{% endblock %}

{% block content %}
    <div class="cp_content_bg">
       <div class="cp_content">
        <div class="head_top">

          <div class="logo">
            <a href="/" target="_self" title="回首页"><img src="/static/images/logo1.png" border="0" onMouseOver="this.src='/static/images/logo2.png'" onMouseOut="this.src='/static/images/logo1.png'" /></a>
          </div>
          <div class="navigation">
            <ul class="menu">
                <li>
                    <a href="/home"><span class="menutitle">首页</span></a>
                </li>
                <li>
                    <span class="crunt">自拍神器</span>
                </li>
                <li>
                    <a href="/home/about"><span class="menutitle">关于我们</span></a>
                </li>
            </ul>
        </div>
          <div class="star"><a href="#" title="立即体验">立即体验</a></div>
</div>
        <div class="cp_slogn">
            <h1>随用随借 随借随还</h1>
            <h4>让技术和共享助您，轻松出游，完美自拍，快乐分享</h4>
        </div>
    </div>
    </div>
    <div class="con_white">
       <h2>轻松四步 秒借秒还</h2>
        <h5>不用购买和携带，随借随还。消费升级，轻松出游。妈妈再也不用担心忘带了</h5>
       <div class="cp_sylc"></div>
       <div class="cp_lc_cont">
            <div class="cp_lc_li">
                <h6>第一步</h6>
                <div class="cp_lc_sm">就近机柜，随手可用</div>
            </div>
            <div class="cp_lc_li">
                <h6>第二步</h6>
                <div class="cp_lc_sm">手机扫码，一秒取杆</div>
            </div>
            <div class="cp_lc_li">
                <h6>第三步</h6>
                <div class="cp_lc_sm">享受美好，想拍就拍</div>
            </div>
            <div class="cp_lc_li cp_lc_li_right">
                <h6>第四步</h6>
                <div class="cp_lc_sm">随处可还，付几块钱</div>
            </div>
       </div>
    </div>
    <div class="con_gray">
        <h2>时尚自拍杆 任你嗨自拍</h2>
        <h5>设计时尚大方，使用方便灵活，还可应急给手机充电</h5>
        <div class="zpg_cont">
            <div class="zpg_cont_li">
                <div class="zpg_left">
                    <div class="zpg_left_img"><img class="icon_img" src="/static/images/shaoma.png"  /></div>
                    <h5>扫码取杆</h5>支持微信和支付宝扫码即取<br>无需安装APP，取杆简单
                </div>
            </div>
        </div>
    </div>


{% endblock %}