{% extends "weixin/base.html" %}
{% load static %}
{% block title %}租借服务协议{% endblock %}
{% block head %}


{% endblock %}

{% block content %}
    <div class="help_xq">
        <h2>轻拍科技共享自拍杆使用协议</h2>

        <h3>1 总则</h3>
杭州轻拍科技有限公司（以下简称"轻拍科技"）根据以下服务条款为您提供服务。这些条款可随时更新，且毋须另行通知。使用协议（以下简称“使用协议”）一旦发生变动，将在网页上公布修改内容，一经公布，即有效代替原来的使用协议。<br>
您在使用轻拍科技提供的服务前，应仔细阅读本使用协议及《轻拍科技共享自拍杆服务协议》。如您不同意本使用协议及/或随时对其的修改，请您立即停止使用轻拍科技所提供的全部服务；您一旦使用服务，即视为您已了解并完全同意本使用协议各项内容，包括轻拍科技对使用协议随时所做出的任何修改，并视为您已成为用户（以下简称“用户”）。

<h3>2 服务说明</h3>
目前轻拍科技向用户提供使用共享自拍杆的服务，服务产品包括自拍杆以及存放自拍杆的智能机柜。除非本使用协议另有其它明示规定，增加或强化目前本服务的任何新功能，包括所推出的新产品，均受到本使用协议之规范。您了解并同意，本服务仅依其当前所呈现的状况提供，对于任何用户信息设定之时效、删除、传递错误、未予储存或其它任何问题，轻拍科技均不承担任何责任。轻拍科技保留不经事先通知为维修、升级或其它目的暂停本服务任何部分的权利。

<h3>3 遵守法律</h3>
您同意遵守中华人民共和国相关法律法规的所有规定，并对以任何方式通过使用您的密码和您的帐号使用本服务的任何行为及其结果承担全部责任。如您的行为违反国家法律和法规的任何规定，或有可能构成犯罪将被追究刑事责任的，将由您承担全部法律责任。
同时如果有理由认为您的任何行为违反或可能违反国家法律和法规的任何规定，轻拍科技可在任何时候不经任何事先通知终止向您提供服务。

<h3>4 您的注册义务</h3>
为了能使用本服务，您同意以下事项：依本服务注册提示，填写正确的微信账号、手机号、及微信公众号同意授权或者支付宝账号、身份证号、及支付宝相关服务同意授权等，并确保今后更新的手机号、微信号、支付宝号、头像等资料的有效性和合法性。若您提供任何违法、不道德；或者有理由怀疑你的资料属于程序或恶意操作，、有权暂停或终止您的帐号，并拒绝您于现在和未来使用本服务之全部或任何部分。
轻拍科技无须对任何用户的任何登记资料承担任何责任，包括但不限于鉴别、核实任何登记资料的真实性、正确性、完整性、适用性及/或是否为最新资料的责任。

<h3>5 用户帐号、密码及安全</h3>
完成本服务的注册程序并成功注册后，您可使用您的微信或或支付宝或手机号，登录到您的帐号（下称“帐号”）。保护您的帐号安全，是您的责任。您应对所有使用您的密码及帐号的活动负完全的责任。您同意：<br>
1) 您的帐号遭到未获授权的使用，或者发生其它任何安全问题时，您应立即通知轻拍科技，您通知之前所产生的所有后果由您自行承担；<br>
2) 如果您未保管好自己的帐号和密码，因此而产生的任何损失或损害，轻拍科技无法承担也不承担任何责任；<br>
3) 每个用户都要对其帐号中的所有行为和事件负全责。如果您未保管好自己的帐号和密码而对您、或第三方造成的损害，您将负全部责任。<br>

<h3>6 隐私权政策</h3>
您提供的登记资料及保留的有关您的若干其它资料将受到中国有关隐私的法律和本公司隐私保护规范。

<h3>7 提供者之责任</h3>
根据有关法律法规，在此郑重提请您注意，任何经由本服务而发布、上传的文字、资料、图形或其它资料（以下简称“内容”），无论系公开还是私下传送，均由内容提供者承担责任。轻拍科技仅为用户提供信息展示空间，无法控制经由本服务传送之内容，因此不保证内容的正确性、完整性。

<h3>8 用户资格及行为</h3>
您确认，您应具备中华人民共和国法律规定的与您行为相适应的民事行为能力（特别提示，用户应为符合使用自拍杆拍照的年龄及身体条件的健康人士。用户如患有包括但不限于影响骑行的如癫痫、心胀病、高血压、暂时性眩晕、视力障碍、听觉障碍、残疾等各种疾病的，不得使用本服务。）。若您不具备前述与您行为相适应的民事行为能力，则您及您的监护人应依照法律规定承担因此而导致的一切后果。<br>

您同意将不会利用本服务进行任何违法或不正当的活动，包括但不限于下列行为∶<br>
1) 利用技术手段故意访问、记录、传播共享自拍杆杆相关信息；<br>
* 轻拍科技会通过数据监测异常访问的行为，并保留追加惩罚的权利；<br>
2) 以任何方式危害他人的合法权益；<br>
        3) 使用自拍杆以任何形式伤害他人，伤害自己的合伙权利；<br>
4) 干扰或破坏本服务或与本服务相连线之服务器和网络，或违反任何关于本服务连线网络之规定、程序、政策或规范；<br>
5) 故意或非故意地违反任何适用的当地、国家法律，以及任何具有法律效力的规则；<br>
6) 未经合法授权而截获、篡改、收集、储存或删除他人个人信息、站内邮件或其它数据资料，或将获知的此类资料用于任何非法或不正当目的；<br>
7) 故意、恶意破坏、损毁、盗窃共享自拍杆和共享自拍杆附着硬件，以及存放共享自拍杆的智能机柜。<br>

您了解并同意，依据法律法规的要求，或基于诚信为了以下目的或在合理必要范围内，必须将内容加以保存或揭露时，轻拍科技可加以保存或揭露：<br>
1) 遵守法律程序；<br>
2) 执行本使用协议；<br>
3) 回应任何第三人提出的权利主张；<br>
4) 保护、其用户及公众之权利、财产或个人安全；<br>
5) 其它认为有必要的情况。<br>

<h3>9 法律适用、管辖与其他</h3>
1) 本协议之订立、生效、解释、修订、补充、终止、执行与争议解决均适用中华人民共和国大陆地区法律；如法律无相关规定的，参照商业惯例及/或行业惯例。<br>
2)您因使用轻拍科技共享自拍杆服务所产生及与轻拍科技共享自拍杆平台服务有关的争议，由轻拍科技与您协商解决。协商不成时，任何一方均在杭州可向法院仲裁委员会提起仲裁；仲裁结果具有终局性，对双方均有约束力。<br>
3) 本协议任一条款被视为废止、无效或不可执行，该条应视为可分的且并不影响本协议其余条款的有效性及可执行性。<br>
4) 本协议的标题仅供阅读方便而设，不属于协议的条款，不具有任何法律效果。<br>
5) 任何一方当事人放弃或者延迟行使其在本协议项下的全部或部分权利的，不应视为其放弃本协议项下的任何其他权利或与此类似的一切权利。<br>
6) 本协议构成各方之间就本协议内容所达成的完全合意；本协议签署前存在的、或与本协议相矛盾或抵触的一切合意，无论其为口头、书面或其他形式均归于无效。<br>
7) 如果本协议及其附件的任何条款因适用法律而无效或不可强制执行，则该条款应视为自始无效，且不影响本协议其他条款的效力。在此情形下，各方应当在合法范围内协商确定新的条款，以保证最大限度地实现原有条款的意图。
    </div>

{% endblock %}