{% extends "weixin/base.html" %}
{% load static %}
{% load own_tag %}
{% block title %}茄子自拍{% endblock %}
{% block head %}

{% endblock %}

{% block content %}
    <div class="nr_con_all">
       <div class="gr_top">
           <img class="gr_tx" alt="微信头像">
           <div class="gr_nc">nickname</div>
           于成为轻拍一员<br>
           <span class="col_z">自拍达人一枚，我拍故我在</span>
       </div>
        <div class="gr_dh_cont">
           <div class="gr_dh gr_dh_top"><a href="#">
            <div class="gr_dh_left">租借记录（<span class="col_z">lendtime</span>）</div>
            <div class="gr_dh_right"><img class="dh_jt" src="{% static '/images/weixin/rig.png' %}" alt="更多"></div></a>
           </div>
           <div class="gr_dh"><a href=""><a href="#">
            <div class="gr_dh_left">押金提现（<span class="col_z">deposit</span>）</div>
            <div class="gr_dh_right"><img class="dh_jt" src="{% static '/images/weixin/rig.png' %}" alt="更多"></div></a>
           </div>
            <div class="gr_dh"><a href="#">
            <div class="gr_dh_left">使用帮助</div>
            <div class="gr_dh_right"><img class="dh_jt" src="{% static '/images/weixin/rig.png' %}" alt="更多"></div></a>
            </div>
            <div class="gr_dh"><a href="#">
            <div class="gr_dh_left">关于我们</div>
            <div class="gr_dh_right"><img class="dh_jt" src="{% static '/images/weixin/rig.png' %}" alt="更多"></div></a>
             </div>
        </div>

    <script src="/static/js/jquery-3.2.1.js"></script>
    </div>
{% endblock %}