{% extends "weixin/base.html" %}
{% load static %}
{% load own_tag %}
{% block title %}费用支付{% endblock %}
{% block head %}

{% endblock %}

{% block content %}

     <div class="ts_cont_all">
       <div class="cgsm">
           <div class="fyzf_icon"><img class="zjjl_icon_img" src="{% static '/images/weixin/shichang.png' %}" alt="租借时长"></div>租借时长<br>
           <div class="fyzf_time">{{ lend_time_long }}</div>
           <div class="fyzf_icon"><img class="zjjl_icon_img" src="{% static '/images/weixin/feiyong.png' %}" alt="租借费用"></div>租借费用<br>
           <div class="fyzf_fee">{{ lend_money }}</div>
       </div>
    </div>
    <div class="nr_con">
        <a href="#" id="money"  class="weui-btn weui-btn_primary page__bd_spacing">确认支付</a>

        <div class="fyzf_dd">订单号：{{ order_id }}</div>

        <div class="zjjl_zj">
            <div class="zjjl_icon"><img class="zjjl_icon_img" src="{% static '/images/weixin/hr.png' %}" alt="归还"></div>

            <span>还：{{ return_time | convert_time }}<br></span>

        </div>
        <div class="zjjl_zj">
            <div class="zjjl_icon"><img class="zjjl_icon_img" src="{% static '/images/weixin/jc.png' %}" alt="借出"></div>
            <span>租：{{ lend_time | convert_time }}<br></span>
        </div>




    </div>


    <script src="/static/js/jquery-3.2.1.js"></script>
    <script src="/static/js/relalive.js"></script>
    <script>
        function ready(callback) {
  // 如果jsbridge已经注入则直接调用
  if (window.AlipayJSBridge) {
    callback && callback();
  } else {
    // 如果没有注入则监听注入的事件
    document.addEventListener('AlipayJSBridgeReady', callback, false);
  }
}
ready(function(){
  document.querySelector('#money').addEventListener('click', function(){
    AlipayJSBridge.call("tradePay",{
      tradeNO: "{{ trade_no }}"
    }, function(result){
      alert(JSON.stringify(result));
    });
  });
});

    </script>
{% endblock %}