{% extends "weixin/base.html" %}
{% load static %}
{% block title %}茄子自拍{% endblock %}
{% block head %}

{% endblock %}

{% block content %}
    <div class="ts_cont">
       <img class="zgjs_img" src="{% static '/images/weixin/hgjs.gif' %}" alt="还杆介绍">
    </div>
    <div class="nr_con">
            <a href="#"  id="scanQRCode" class="weui-btn weui-btn_primary page__bd_spacing">还自拍杆</a>
            <div class="ts_til page__bd_spacing"><div class="ts_til_test">温馨提示</div> </div>
            <div class="sm_cont">
                第一步：手机扫描机柜二维码，待机柜门自动打开<br>
                第二步：收好自拍杆放入机柜，手扣朝上
            </div>

     </div>


    <script src="/static/js/jquery-3.2.1.js"></script>
    <script>
        function ready(callback) {
          // 如果jsbridge已经注入则直接调用
          if (window.AlipayJSBridge) {
            callback && callback();
          } else {
            // 如果没有注入则监听注入的事件
            document.addEventListener('AlipayJSBridgeReady', callback, false);
          }
        }
        ready(function(){
          document.querySelector('#scanQRCode').onclick = function() {
              var user_id = '{{ user_id }}';
              var is_lend = '{{ is_lend }}';

              if (is_lend == 'False') {
                  alert("还没有租自拍杆，先去租一个");
                  location.href = '/weixin/lend/';
              } else {
                  AlipayJSBridge.call('scan', {
                      type: 'qr',
                      actionType: 'route'
                  }, function (result) {
                      alert(JSON.stringify(result));
                      var cabinet_code = '12-1213-21';
                        $.ajax({
                            type:"post",
                            url:"/weixin/get_capacity/",//自己填写请求地址
                            data:{cabinet_code:cabinet_code},
                            success:function(result){
                                location.href = '/zhifubao/return_tip/' + result + '/' + cabinet_code + '/'
                            }
                        });

                  });
              }
          }
        });

    </script>
{% endblock %}