{% load static/images %}
body {margin:0 auto; padding:0 auto; height: 100%;}


.home_content_bg{ width:100%;height: 550px; background: url("/static/images/home/home_bgt.jpg") repeat-x; }
.home_content{ width:100%;height: 550px;background-size:100% 100%; background: url("/static/images/home/home_bg.jpg") center no-repeat; }
.home_slogn{width: 80%;color: white;text-align: left;margin: 150px auto;}


.head_top{width: 80%; height: 50px; margin: 0 auto; padding-top: 10px;}
.logo{float: left; width:180px; height: 45px; margin-top: 0;}
.logo img{width:180px; height: 45px;}

.navigation ul.menu { float:left; height: 50px; text-align: left; }
.navigation menu {list-style: none; }
.navigation .menu > li { display: block; float: left;width: 80px;text-align: right;font-size: 14px;font-weight: bold; }
.navigation .menu > li a{text-decoration: none; color: white;font-weight: normal;}
.navigation .menu > li a:hover{text-decoration: none;font-weight: bold; }
.crunt{border-bottom: 1px solid white; color: white;}


h1{font-size: 48px;line-height: 48px;font-weight: 200;padding-left: 20px;padding-top: 20px;}
h2{font-size: 30px;color: black;line-height: 30px;text-align: center;}
h3{font-size: 24px; color:black;line-height: 60px;}
h4{font-size: 16px;line-height: 16px; font-weight:200;padding-left: 20px;}
h5{font-size: 14px;line-height: 16px; font-weight:100;text-align: center;margin-bottom: 40px;color: #666666;margin-top: -15px;}
h6{font-size: 16px;line-height: 50px; color: #cc3399;font-weight: bold}


.con_white{width: 80%;margin: 50px auto;text-align: center;}
.con_gray{width: 100%;background-color: #f6f6f6;clear: both;padding-top:50px; padding-bottom: 50px;}

.home_ys{float: left;width:31%;height: 380px;margin-right: 3%; text-align: center;}
.home_ys_img{float:left;width: 100%;overflow: hidden;}
.ys_imge{width:100%;height: auto; }
.home_ys_sm{float: left;width: 100%;font-size: 14px;line-height: 22px;color: #666666;margin-top: -40px;font-weight: 100;}
.ys_right{margin-right: 0;}

.home_sy{width: 1000px; height: 500px; margin: 50px auto;background-size:100% 100%; background: url("/static/images/home/home_sy.jpg") center no-repeat;}
.sy1{width: 150px;height: 30px;position: relative;padding-top: 480px;padding-left: 12px;font-size: 16px; color: #cc3399;font-weight: bold;background-color: #cbcbcb;}
.sy2{padding-top: 100px;padding-left: 200px;position: relative;}



.star{float: right;width: 80px;height: 26px;font-size: 14px;border: 1px dashed #eeeeee;line-height: 26px;text-align: center;margin-top: 12px;}
.star a{text-decoration: none;color: white;}
.star a:hover{text-decoration: none;font-weight: bold;}

#navbar { height: 55px; }
#navbar.row { margin-bottom: 0 }

#navigation { padding:0;}

body a { color: black; text-decoration: none; }

.title{color: darkorchid; font-size: 40px;}

.foot_con{width: 600px;
    margin: 100px auto;
    text-align: center;
    clear: both;}
.foot_con_imgbox {
    width: 140px;
    height: 200px;
    margin: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    border: none;
    float: left;
    color: #666666;
   }
.foot_con_img {
    width: 140px;
    height: 140px;
    border: none;
   }
.foot_cont_bq{
    clear: both;
    width: 100%;
    height: 60px;
    border-top: 1px #eeeeee solid;
    text-align: center;
    font-size: 14px;
    line-height: 60px;
    color: #333333;
}


.head_jx{font-size: 24px; color:black;line-height: 60px; padding-top: 70px;padding-bottom: 40px;}
.col{color: #9900cc;font-weight: bold;}
.rec{
    float: left;
    width: 100%;
    height: 100px;
    font-size: 24px;
    color: #9900cc;
    line-height:40px;
    margin-top: 100px;
}
.rec_rig{
    float: right;
    width: 100%;
    height: 200px;
    font-size: 24px;
    color: #9900cc;
    line-height:40px;
    margin-top: 96px;
}
.cont_big {
    width: 100%;
    height: 200px;
    clear: both;
    font-size: 16px;
    line-height: 40px;
    padding: 40px;
    color: #666;
    margin: 20px auto;
    text-align: center;
}
.cont_big_gra {
    width: 100%;
    height: 680px;
    text-align: center;
    clear: both;
    font-size: 16px;
    line-height: 40px;
    color: #666;
    margin: 10px auto;
    background-color: #eeeeee;
}
.cont_big_white {
    width: 100%;
    height: 680px;
    text-align: center;
    clear: both;
    font-size: 16px;
    line-height: 40px;
    color: #666;
    margin: 10px auto;
}
.home_cont{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.home_cont_img{
    float: left;
    margin-top: 110px;
    width: 400px;
    height: 428px;
    border: none;
    text-align: left;
}
.home_cont_img_rig{
    float: right;
    margin-top: 110px;
    width: 400px;
    height: 428px;
    border: none;
    text-align: right;
}
.home_cont_text{
    float: left;
    width: 500px;
    margin-top: 85px;
    text-align: left;
    height: 400px;
}
.home_cont_text_rig{
    float: right;
    width: 500px;
    margin-top: 85px;
    text-align: right;
    height: 400px;
}

.main_content_zp{border-top: 2px #9900cc solid; width:100%;height:20px; margin-top: 5px; background-size:100% 100%;  }
.zp_bd{
    clear: both;
    margin: 50px auto;
    border: none;
    text-align: center;
}
.zp_bd_sm{
    margin: -100px 0 400px 0;
    clear: both;
    color: #666666;
    text-align: center;
}

.main_content_about{border-top: 2px #9900cc solid; width:100%;height:480px; margin-top: 5px; background-size:100% 100%; background: url("/static/images/about/about.jpg") center no-repeat; }
.about_slo{margin: 0 auto; width: 80%;height: 100%; font-size: 40px;color: white;font-weight: bold;line-height: 460px;text-align: center;}
.about_story_img{width: 60px;height: 60px;margin: 10px auto;}
.about_story_cont{margin: 10px auto;width: 80%; line-height: 26px;font-size: 14px;}
.about_fg{width: 80%;margin: 0 auto;border-top: dashed 1px #eeeeee;}
.hig_story{height: 320px;}
.hig_yz{height: 250px;}
.hig_jx{height: 390px;}
.about_jx{width: 80%;margin: 50px auto;font-size: 14px;line-height: 26px;color: #333333;text-align: center;}
.about_jx_con{width: 23%;text-align: center;float: left;padding:0 5%;}
.bo_right{border-right: dotted 1px #cbcbcb;}
