body {margin:0 auto; padding:0 auto; text-align:center; height: 100%; width: 60%;}

div{margin:0 auto;  text-align:center;}

#logo img {float: left; width:auto; margin-left: 50px; margin-top: 20px;}

#navigation ul.menu { float:right}

#navigation menu { margin-right: 80%; list-style: none;}

#navigation menu .icon-angle-right { position: absolute; right: 10px; margin-top: 20px;  color: #aaa; font-size: 12px; }
#navigation .menu > li { display: block; float: left; }

#navbar { height: 55px; }
#navbar.row { margin-bottom: 0 }

#navigation { padding:0;}

body a { color: black; text-decoration: none; margin: 10px; margin-right: 20px;}

.title{color: darkorchid; font-size: 40px;}

.foot{ background-color: rgba(0, 0, 0, 0.7);}

.foot span { color: white; vertical-align: 80%}

.foot span img {vertical-align: 80%}

.main_content {margin: 0 auto;}

.title_content {text-indent:2em;}