{% load static/images %}
body {margin:0 auto; padding:0 auto; text-align:center; height: 100%;}

#head_top{width: 80%; height: 60px; margin: 0px auto;}

#logo a{float: left; width:200px; height: 50px; margin-top: 5px;border: none; background: url("/static/images/logo1.jpg")  }
#logo a:hover{ background: url("/static/images/logo2.jpg")  }

#navigation ul.menu { float:right; height: 50px; text-align: right;}
#navigation menu { margin-right: 80%; list-style: none; }
#navigation .menu > li { display: block; float: left;width: 120px;text-align: right;margin-top: 5px;font-size: 18px; }
#navigation .menu > li a{color: black;text-decoration: none; }
#navigation .menu > li a:hover{color: #9900cc; }

#navbar { height: 55px; }
#navbar.row { margin-bottom: 0 }

#navigation { padding:0;}

body a { color: black; text-decoration: none; }

.title{color: darkorchid; font-size: 40px;}

.foot_con{width: 80%;
    margin: 80px auto;
    text-align: center;
    clear: both;}
.foot_con_img {
    width: 200px;
    height: 200px;
    margin: 30px;
    border: none;
   }
.foot_cont_bq{
    width: 100%;
    height: 60px;
    border-top: 1px #eeeeee solid;
    text-align: center;
    font-size: 14px;
    line-height: 60px;
    color: #666666;
}

.main_content {margin: 0 auto; clear: both;}
.main_content_home{width:100%;height: 600px; margin-top: 5px; background-size:100% 100%; background: url("/static/images/home/home_banner.jpg") center no-repeat; }
.main_content_home_con{width: 80%;height: 100%;margin: 0px auto;background: url("/static/images/home/home_slogn.png") left no-repeat;}
.head1{font-size: 48px;color: black;line-height: 80px;}
.head2{font-size: 36px;color: #9900cc;line-height: 80px;}
.head3{font-size: 24px; color:black;line-height: 60px;}
.col{color: #9900cc;}
.rec{
    float: left;
    width: 600px;
    height: 100px;
    font-size: 36px;
    color: #9900cc;
    line-height:50px;
    margin-top: 100px;
}
.rec_rig{
    float: right;
    width: 600px;
    height: 200px;
    font-size: 36px;
    color: #9900cc;
    line-height:50px;
    margin-top: 96px;
}
.cont_big {
    width: 100%;
    height: 220px;
    clear: both;
    font-size: 20px;
    line-height: 50px;
    padding: 50px;
    color: #666;
    margin: 30px auto;
}
.cont_big_gra {
    width: 100%;
    height: 680px;
    text-align: center;
    clear: both;
    font-size: 20px;
    line-height: 40px;
    color: #666;
    margin: 30px auto;
    background-color: #eeeeee;
}
.cont_big_white {
    width: 100%;
    height: 680px;
    text-align: center;
    clear: both;
    font-size: 20px;
    line-height: 40px;
    color: #666;
    margin: 30px auto;
}
.home_cont{
    width: 80%;
    height: 100%;
    margin: 0px auto;
}
.home_cont_img{
    float: left;
    margin-top: 110px;
    width: 500px;
    height: 428px;
    border: none;
}
.home_cont_img_rig{
    float: right;
    margin-top: 110px;
    width: 500px;
    height: 428px;
    border: none;
}
.home_cont_text{
    float: left;
    width: 500px;
    margin-top: 90px;
    text-align: left;
    height: 400px;
}
.home_cont_text_rig{
    float: right;
    width: 500px;
    margin-top: 90px;
    text-align: right;
    height: 400px;
}

.title_content {text-indent:2em;}