{% extends "weixin/base.html" %}
{% load static %}
{% block title %}购买提示{% endblock %}
{% block head %}
{% endblock %}

{% block content %}

    <div class="ts_cont ts_cont_all">
                  <img class="zgjs_img" src="{% static '/images/weixin/zgm.jpg' %}" alt="购买提示">
    </div>
    <div class="nr_con">
           <div class="cgsm">
                <span class="col_z">自拍杆爱上您啦</span><br>因保留超过<span class="col_z"> 5 </span>天未归还，系统自动转为购买
            </div>
    </div>
    <div class="nr_con">
      <div class="zgm_line"></div>
      <div class="zgm_sm">
         1.取杆情况：{{ lend_date }} 于：{{ lend_site }}<br>
          2.了解自拍杆服务协议，查看<a href="/weixin/contract/">租借协议</a>
      </div>

    </div>



    <script src="/static/js/jquery-3.2.1.js"></script>

{% endblock %}