{% extends "weixin/base.html" %}
{% load static %}
{% load own_tag %}
{% block title %}租借记录{% endblock %}

{% block head %}


{% endblock %}

{% block content %}
    <div class="nr_con_all">
        <div class="tj_til"> 您共借用了<span class="col_z">{{ lendtime }}</span>次，全球排名{{ lendindex }}位</div>

        {% if lendhistory %}
            {% for history in lendhistory %}

                <div class="zjjl_con">
                   <div class="zjjl_h">
                       <div class="zjjl_dd">订单号：{{ history.0 }}</div>
                   </div>
                   <div class="zjjl_zt">
                           {% ifequal history.5 0 %}
                               <span class="zt_jxz">已借出</span>
                           {% endifequal %}
                           {% ifequal history.5 1 %}
                               <span class="zt_jxz"><a href="/weixin/return_pay/">待支付</a></span>
                           {% endifequal %}
                           {% ifequal history.5 2 %}
                               <span class="zt_ywc">已完成</span>
                           {% endifequal %}
                           {% ifequal history.5 3 %}
                               <span class="zt_zgm"><a href="/weixin/buy_tip/{{ history.0 }}/" onclick="show_buy()">已购买</a></span>
                           {% endifequal %}
                       </div>
                   <div class="zjjl_h">
                       <div class="zjjl_tf">时长(时)：<span class="col_z">
                           {% if history.3 %}
                                {{ history.2 | get_time_long:history.3 }}
                           {% else %}
                                {{ history.2 | get_time_long }}
                           {% endif %}</span>
                       </div>
                       <div class="zjjl_tf">费用(元)：<span class="col_z">{{ history.0 | get_tmp_money }}</span></div>

                   </div>
                    <div class="zjjl_h">
                       <div class="zjjl_gz">
                           {% for rule in rules %}
                               {% ifequal rule.0 history.6 %}
                                规则：前{{ rule.1 }}小时免费，后¥{{ rule.2 }}/小时，每天¥8封顶
                               {% endifequal %}
                           {% endfor %}
                       </div>
                    </div>
                   <div class="zjjl_h zjjl_h_hr">
                        {% if history.3 %}
                           <div class="zjjl_zj">

                                    <div class="zjjl_icon"><img class="zjjl_icon_img" src="{% static '/images/weixin/hr.png' %}" alt="归还"></div>

                                    <span>还：{{ history.3 | convert_time }}<br>
                                        {% for cabinet in cabinets %}
                                            {% ifequal cabinet.0 history.7 %}
                                                {% for spot in spots %}
                                                    {% ifequal spot.0 cabinet.2 %}
                                                        {{ spot.1 }}
                                                    {% endifequal %}
                                                {% endfor %}
                                            {% endifequal %}
                                        {% endfor %}
                                    </span>
                            </div>
                        {% endif %}

                        <div class="zjjl_zj">
                            <div class="zjjl_icon"><img class="zjjl_icon_img" src="{% static '/images/weixin/jc.png' %}" alt="借出"></div>
                                <span>租：{{ history.2 | convert_time }}<br>
                                    {% for cabinet in cabinets %}
                                        {% ifequal cabinet.0 history.7 %}
                                            {% for spot in spots %}
                                                {% ifequal spot.0 cabinet.2 %}
                                                    {{ spot.1 }}
                                                {% endifequal %}
                                            {% endfor %}
                                        {% endifequal %}
                                    {% endfor %}
                                </span>
                        </div>
                   </div>
                 </div>

            {% endfor %}
        {% else %}
            <div class="wk_ts">您竟然还没体验自拍神器，还等什么～<br><a href="/weixin/lend/">立马借一根</a></div>
        {% endif %}

    </div>

{% endblock %}