{% extends "weixin/base.html" %}
{% load static %}
{% load own_tag %}
{% block title %}租借记录{% endblock %}

{% block head %}


{% endblock %}

{% block content %}
    <div class="nr_con_all">
        <div class="tj_til"> 您共借用了<span class="col_z">{{ lendtime }}</span>次，全球排名{{ lendindex }}位</div>

        {% if lendhistory %}
            {% for history in lendhistory %}

                <div class="zjjl_con">
                   <div class="zjjl_h">
                       <div class="zjjl_dd">订单号：{{ history.0 }}</div>
                       <div class="zjjl_zt">
                           {% ifequal history.5 0 %}
                               <span>借出</span>
                           {% else %}
                               <span>归还</span>
                           {% endifequal %}
                       </div>
                   </div>
                   <div class="zjjl_h">
                       <div class="zjjl_tf">用时：<span class="col_z">
                           {% if history.3 %}
                                {{ history.2 | get_time_long:history.3 }}
                           {% else %}
                                {{ history.2 | convert_time }}
                           {% endif %}</span>
                       </div>
                       <div class="zjjl_tf">费用：<span class="col_z">{{ history.4 }}元</span></div>
                   </div>
                   <div class="zjjl_h zjjl_h_hr">
                        {% if history.3 %}
                           <div class="zjjl_zj">

                                    <div class="zjjl_icon"><img class="zjjl_icon_img" src="{% static '/images/weixin/hr.png' %}" alt="归还"></div>

                                    <span>还：{{ history.3 | convert_time }}<br>西江千户苗寨 西服务区售票大厅</span>
                            </div>
                        {% endif %}

                        <div class="zjjl_zj">
                            <div class="zjjl_icon"><img class="zjjl_icon_img" src="{% static '/images/weixin/jc.png' %}" alt="借出"></div>
                                <span>租：{{ history.2 | convert_time }}<br>{{ history.site }}</span>
                        </div>
                   </div>
                 </div>

            {% endfor %}
        {% else %}
            <div class="wk_ts">您竟然还没体验自拍神器，还等什么～<br><a href="/weixin/lend/">借自拍杆</a></div>
        {% endif %}

    </div>

{% endblock %}