{% extends "weixin/base.html" %}
{% load static %}
{% block title %}租借记录{% endblock %}

{% block head %}


{% endblock %}

{% block content %}
    <div class="nr_con_all">
        <div class="tj_til"> 您共借用了<span class="col_z">{{ lendtime }}</span>次，全球排名{{ lendindex }}位</div>
        <div class="zjjl_con">
                   <div class="zjjl_h">
                       <div class="zjjl_dd">订单号：19002017082888901253</div>
                       <div class="zjjl_zt zt_jxz">进行中</div>
                   </div>
                   <div class="zjjl_h">
                       <div class="zjjl_tf">用时：<span class="col_z">3时28分</span></div>
                       <div class="zjjl_tf">费用：<span class="col_z">1元</span></div>
                   </div>
                   <div class="zjjl_h zjjl_h_zc">

                       <div class="zjjl_zj">
                           <div class="zjjl_icon"><img class="zjjl_icon_img" src="{% static '/images/weixin/jc.png' %}" alt="借出"></div>
                           租：2017/08/27  18:30:28<br>西江千户苗寨 西服务区售票大厅
                       </div>
                   </div>
        </div>
         <div class="zjjl_con">
                   <div class="zjjl_h">
                       <div class="zjjl_dd">订单号：19002017082888901253</div>
                       <div class="zjjl_zt zt_zgm">已购买</div>
                   </div>
                   <div class="zjjl_h">
                       <div class="zjjl_tf">用时：<span class="col_z">超5天</span></div>
                       <div class="zjjl_tf">费用：<span class="col_z">49元</span></div>
                   </div>
                   <div class="zjjl_h zjjl_h_zc">

                       <div class="zjjl_zj">
                           <div class="zjjl_icon"><img class="zjjl_icon_img" src="{% static '/images/weixin/jc.png' %}" alt="借出"></div>
                           租：2017/08/22  18:30:28<br>西江千户苗寨 西服务区售票大厅
                       </div>
                   </div>
        </div>
        <div class="zjjl_con">
                   <div class="zjjl_h">
                       <div class="zjjl_dd">订单号：19002017082888901253</div>
                       <div class="zjjl_zt">已完成</div>
                   </div>
                   <div class="zjjl_h">
                       <div class="zjjl_tf">用时：<span class="col_z">3时28分</span></div>
                       <div class="zjjl_tf">费用：<span class="col_z">1元</span></div>
                   </div>
                   <div class="zjjl_h zjjl_h_hr">
                           <div class="zjjl_zj"><div class="zjjl_icon"><img class="zjjl_icon_img" src="{% static '/images/weixin/hr.png' %}" alt="借出"></div>
                           还：2017/08/27  18:30:28<br>西江千户苗寨 西服务区售票大厅</div>
                            <div class="zjjl_zj"><div class="zjjl_icon"><img class="zjjl_icon_img" src="{% static '/images/weixin/jc.png' %}" alt="借出"></div>
                           租：2017/08/27  18:30:28<br>西江千户苗寨 西服务区售票大厅</div>
                   </div>
        </div>
        {% if lendhistory %}
            {% for history in lendhistory %}

                <div class="zjjl_con">
                   <div class="zjjl_h">
                       <div class="zjjl_dd">订单号：{{ history.id }}</div>
                       <div class="zjjl_zt">{{ history.status }}</div>
                   </div>
                   <div class="zjjl_h">
                       <div class="zjjl_tf">用时：<span class="col_z"> {% if history.return_time %}
{#                                {{ history.return_time - history.time }}#}
                            {% else %}
                                {{ history.time }}
                            {% endif %}</span></div>
                       <div class="zjjl_tf">费用：<span class="col_z">{{ history.money }}元</span></div>
                   </div>
                   <div class="zjjl_h zjjl_h_hr">
                           <div class="zjjl_zj"><div class="zjjl_icon"><img class="zjjl_icon_img" src="{% static '/images/weixin/hr.png' %}" alt="借出"></div>
                           还：2017/08/27  18:30:28<br>西江千户苗寨 西服务区售票大厅</div>
                            <div class="zjjl_zj"><div class="zjjl_icon"><img class="zjjl_icon_img" src="{% static '/images/weixin/jc.png' %}" alt="借出"></div>
                           租：{{ history.start_time }}<br>{{ history.site }}</div>
                   </div>
                 </div>

            {% endfor %}
        {% else %}
            <div class="wk_ts">您竟然还没体验自拍神器，还等什么～<br><a href="">借自拍杆</a></div>
        {% endif %}

    </div>

{% endblock %}