{% extends "weixin/login/base.html" %}
{% load static %}

{% block head %}
    <div class="weixin-title">
        <span>轻拍</span>
    </div>

{% endblock %}

{% block content %}
    <div class="div-content">
        <input type="button" value="借自拍(嗨)杆">
        <h5>计费规则</h5>
        <span>1.1小时内免费，之后1元/小时，每天5元封顶；</span>
        <span>2.如5天未归还，默认购买此自拍杆，系统将您押金改为购物款并自动收取；</span>
        <span>1.首次借用需支付49元押金，归还自拍杆后，随时到个人中心快捷提现退还押金。</span>
    </div>

    <script src="/static/js/jquery-3.2.1.js"></script>
    <script>

    </script>
{% endblock %}