{% extends "weixin/base.html" %}
{% load static %}
{% block title %}茄子自拍{% endblock %}
{% block head %}
    <style type="text/css">
        html,body{margin:0;padding:0;}
        .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
        .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
    </style>
    <div class="weixin-title">
        <div class="div-back"><a href="/weixin/privatecenter/"></a></div>
    </div>

{% endblock %}

{% block content %}
    <div class="div-content">
        <div style="min-width:600px;min-height:500px;" id="container"></div>
    </div>
    <div class="cabinet_info">

    </div>

    <script src="/static/js/jquery-3.2.1.js"></script>
    <script src="/static/js/relalive.js"></script>
    <script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp"></script>
    <script>
        window.onload = function(){
            //初始化地图函数  自定义函数名init
            function init() {
                //定义map变量 调用 qq.maps.Map() 构造函数   获取地图显示容器
                 var map = new qq.maps.Map(document.getElementById("container"), {
                     center: new qq.maps.LatLng({{ lat }},{{ lon }}),      // 地图的中心地理坐标。
                     zoom:13,
                     scaleControl: true,
                     zoomControlOptions:{
                         position: qq.maps.ControlPosition.TOP_LEFT,
                         style: qq.maps.ZoomControlStyle.DEFAULT
                     }
                });

                 var anchor = new qq.maps.Point(0, 39),
                size = new qq.maps.Size(42, 68),
                origin = new qq.maps.Point(0, 0),
                icon = new qq.maps.MarkerImage(
                    "/static/images/getheadimg.png",
                    origin,
                    anchor
                );


                 {% for cabinet in cabinets %}
                    var lat = {{ cabinet.6 }};
                    var lon = {{ cabinet.7 }};
                    var tmp_point = new qq.maps.LatLng(lat,lon);
                    addMarker(map, tmp_point, '{{ cabinet.0 }}', icon);
                {% endfor %}

            }

            //调用初始化函数地图
            init();
        };
        
        function addMarker(map, point, cabinet_id, icon) {
            var marker = new qq.maps.Marker({
                position: point,
                map: map
            });
            qq.maps.event.addListener(marker,"click",function(){
                get_attribute(cabinet_id);
            });
            marker.setIcon(icon);
        }

        function get_attribute(cabinet_id) {
            $.ajax({
                type:"post",
                url:"/weixin/get_cabinet_info/",//自己填写请求地址
                data:{cabinet_id:cabinet_id},
                success:function(result){
                    $('.cabinet_info').html(result);
                }
            });
        }

    </script>

{% endblock %}