{% extends "weixin/base.html" %}
{% load static %}

{% block head %}
    <style type="text/css">
        html,body{margin:0;padding:0;}
        .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
        .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
    </style>
    <div class="weixin-title">
        <div class="div-back"><a href="/weixin/privatecenter/"></a></div>
        <span></span>
    </div>

{% endblock %}

{% block content %}
    <div class="div-content">
        <div id="dituContent"></div>
    </div>
    <div>
        <span id="tip"></span>
    </div>


    <script src="/static/js/jquery-3.2.1.js"></script>
    <script src="/static/js/relalive.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
    <script>
        var map = new BMap.Map("allmap");            // 创建Map实例
        map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);
        var local = new BMap.LocalSearch(map, {
          renderOptions:{map: map, autoViewport:true}
        });
        local.searchNearby("小吃", "前门");

        initMap();
    </script>

{% endblock %}