{% extends "weixin/base.html" %}
{% load static %}
{% block title %}茄子自拍{% endblock %}
{% block head %}

{% endblock %}

{% block content %}
        {% ifequal has_opacity 'True' %}
            <div class="ts_cont ts_cont_all">
                  <img class="zgjs_img" src="{% static '/images/weixin/cgts.gif' %}" alt="出杆提示">
            </div>
             <div class="nr_con">
               <div class="sm_cont">
                请注意机柜屏幕信息<br>自拍杆将从<span class="col_z">闪亮指示灯位置</span>吐出<br>请及时取走掏空
            </div>
            </div>
        {% else %}
            <div class="ts_cont">
               <img class="zgjs_img" src="{% static '/images/weixin/tk.jpg' %}" alt="自拍杆被掏空">
            </div>
            <div class="nr_con">
                <a href="/weixin/nearby/" id="nearby" class="weui-btn weui-btn_default weui-btn_primary page__bd_spacing">查看附近可借自拍杆</a>
                <div class="sm_cont">
                您很有眼光，此处拍照人多，自拍杆已被<span class="col_z">掏空</span>
                </div>
            </div>
        {% endifequal %}

{% endblock %}