{% extends "weixin/base.html" %}
{% load static %}
{% block title %}故障报修{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
    <div class="ab_top">
        <h1>感谢反馈 共享共建美好出游生活</h1>
      再次感谢您的反馈，我们将第一时间处理;<br>您也可反馈到景区售票处哦～
    </div>


    <div class="ab_txt">
    <h2_2>故障类型</h2_2>

        {% for issue in issues %}
            <div class="bx_type"><input type="radio"  name="issue" value="{{ issue.0 }}"><span>{{ issue.1 }}</span></div>
        {% endfor %}

        <br>

     <h2_2>问题描述（选填）</h2_2>
        <div>
            <input class="weui-btn_plain-default" type="text" id="description">
        </div>

       <a href="#" id="scanQRCode" class="weui-btn weui-btn_primary page__bd_spacing">立即反馈</a>
       <br> <input type="button" name="submit" value="立即反馈" onclick="submit()">
    </div>
    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>
    <script>
        function submit()
        {
            var report_id = $('input:radio[name="issue"]:checked').val();
            if(typeof(report_id) === "undefined"){
                alert("请选择一个故障类型");
                return;
            }
            var description = $('#description').val();
            var openid = '{{ openid }}';

            $.ajax({
                type:"post",
                url:"/weixin/save_report/", // save report
                data:{report_id:report_id, description: description, openid: openid},
                success:function(result){
                    var result_list = result.split('&');
                    if(result_list[0].toLowerCase() === 'success')
                    {
                        location.href = '/weixin/privatecenter/';
                    }
                    else
                    {
                        alert('系统繁忙，请稍后再提交故障报修');
                    }
                }
            });
        }
    </script>


{% endblock %}