{% extends "weixin/base.html" %}
{% load static %}
{% load own_tag %}
{% block title %}费用支付{% endblock %}
{% block head %}

{% endblock %}

{% block content %}

     <div class="ts_cont_all">
       <div class="cgsm">
           <div class="fyzf_icon"><img class="zjjl_icon_img" src="{% static '/images/weixin/shichang.png' %}" alt="租借时长"></div>租借时长<br>
           <div class="fyzf_time">{{ lend_time_long }}</div>
           <div class="fyzf_icon"><img class="zjjl_icon_img" src="{% static '/images/weixin/feiyong.png' %}" alt="租借费用"></div>租借费用<br>
           <div class="fyzf_fee">{{ lend_money }}</div>
       </div>
    </div>
    <div class="nr_con">
        <a href="#" id="money"  class="weui-btn weui-btn_primary page__bd_spacing">确认支付</a>

        <div class="fyzf_dd">订单号：{{ order_id }}</div>

        <div class="zjjl_zj">
            <div class="zjjl_icon"><img class="zjjl_icon_img" src="{% static '/images/weixin/hr.png' %}" alt="归还"></div>

            <span>还：{{ return_time | convert_time }}<br></span>

        </div>
        <div class="zjjl_zj">
            <div class="zjjl_icon"><img class="zjjl_icon_img" src="{% static '/images/weixin/jc.png' %}" alt="借出"></div>
            <span>租：{{ lend_time | convert_time }}<br></span>
        </div>




    </div>


    <script src="/static/js/jquery-3.2.1.js"></script>
    <script src="/static/js/relalive.js"></script>
    <script>
        $('#money').click(function () {
            var is_weixin = '{{ is_weixin }}';
            if(is_weixin === 'True')
            {
                callpay();
            }
            else
            {
                var tradeNo = '{{ trade_no }}';
                tradePay(tradeNo);
            }

        });

        function jsApiCall()
        {
            WeixinJSBridge.invoke(
            'getBrandWCPayRequest', {{ data | safe }},
            function(res){
              WeixinJSBridge.log('will'+res.err_msg);
              //alert(res.err_code+res.err_desc+res.err_msg);
              window.location.href="{{ redirect_uri }}";
              }
            );
        }

        function callpay()
        {
            if (typeof WeixinJSBridge == "undefined"){
                if( document.addEventListener ){
                    document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
                }else if (document.attachEvent){
                    document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                    document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
                }
            }else{
                jsApiCall();
            }
        }

        $("#payButton").click(function() {
           tradePay(tradeNo);
        });
        // 通过jsapi关闭当前窗口，仅供参考，更多jsapi请访问
        // https://docs.open.alipay.com/54/104510/
        $("#closeButton").click(function() {
           AlipayJSBridge.call('closeWebview');
        });

        // 由于js的载入是异步的，所以可以通过该方法，当AlipayJSBridgeReady事件发生后，再执行callback方法
        function ready(callback) {
             if (window.AlipayJSBridge) {
                 callback && callback();
             } else {
                 document.addEventListener('AlipayJSBridgeReady', callback, false);
             }
        }
        function tradePay(tradeNO) {
            ready(function(){
                 // 通过传入交易号唤起快捷调用方式(注意tradeNO大小写严格)
                 AlipayJSBridge.call("tradePay", {
                      tradeNO: tradeNO
                 }, function (data) {
                     alert(data);
                     if ("9000" == data.resultCode) {
                         save_order(tradeNO);
                     }
                 });
            });
        }

        function save_order(trade_no){
            var out_trade_no = '{{ out_trade_no }}';
            $.ajax({
                type:"post",
                url:"/zhifubao/call_return_order/",
                data:{out_trade_no: out_trade_no, trade_no: trade_no},
                success:function(result){
                    location.href = '/zhifubao/privatecenter/';
                }
            });
        }

    </script>
{% endblock %}