{% extends "weixin/base.html" %}
{% load static %}
{% block title %}茄子自拍{% endblock %}
{% block head %}

{% endblock %}

{% block content %}
        {% ifequal has_capacity 'True' %}
            <div class="ts_cont ts_cont_all">
                  <img class="zgjs_img" src="{% static '/images/weixin/cgts.gif' %}" alt="还杆提示">
            </div>
             <div class="nr_con">
               <div class="sm_cont">
                请注意机柜状态<br><span class="col_z">机柜的入口会打开， 请正确放入自拍杆</span>
            </div>

            </div>
            <script src="{% static 'js/jquery-3.2.1.js' %}"></script>
            <script src="{% static 'js/jquery-min.js' %}"></script>
            <script src="http://182.61.58.155:2136/socket.io/socket.io.js"></script>
            <script>

                var socket = null;

                function return_back(){
                    init_socket();

                    var cabinet_code = '{{ cabinet_code }}';

                    sendmsg(cabinet_code + '&return');

                    logout();
                }

                function init_socket(){
                    socket = io.connect('ws://182.61.58.155:2136');

                    socket.emit('join', {username:'will'});

                    socket.on('pmsg', function(from, to, msg){
                        alert(msg);
                        if(msg=='return_success')
                        {
                            setTimeout("jump();", 3000);
                        }
                        else if(msg=='return_alert')
                        {
                            alert('请注意自拍杆的归还位置，谢谢配合');
                        }
                    });
                }

                function jump() {

                    $.ajax({
                        type:"post",
                        url:"/weixin/update_lendhistory/",
                        data:{},
                        success:function(result){
                            if(result == 'True')
                            {
                                location.href = '/weixin/return_pay/';
                            }
                            else
                            {
                                alert('生成订单失败，请联系客服');
                            }

                        }
                    });

                }

                function logout()
                {
                    socket.emit('disconnect');
                }

                function sendmsg(msg){
                    alert('send msg' + msg);
                    socket.emit('private_message', 'will', 'will', msg);
                }

                window.onload = return_back;

            </script>

        {% else %}
            <div class="ts_cont">
               <img class="zgjs_img" src="{% static '/images/weixin/tk.jpg' %}" alt="该机柜已没有空间">
            </div>
            <div class="nr_con">
                <a href="/weixin/nearby/" id="nearby" class="weui-btn weui-btn_default weui-btn_primary page__bd_spacing">查看附近可还机柜</a>
                <div class="sm_cont">
                抱歉，此处自拍杆已集齐，此机柜已满仓<span class="col_z">存满</span>
                </div>

            </div>
        {% endifequal %}



{% endblock %}