{% extends "weixin/base.html" %}
{% load static %}
{% block title %}茄子自拍{% endblock %}
{% block head %}

{% endblock %}

{% block content %}
        {% ifequal has_capacity 'True' %}
            <div class="ts_cont_all">
                  <img class="zgjs_img" src="{% static '/images/weixin/hgts.gif' %}" alt="还杆提示">
            </div>
             <div class="nr_con">
               <div class="cgsm">
                请注意机柜状态<br><span class="col_z">机柜的入口会打开， 请正确放入自拍杆</span>
               </div>

            </div>

            <div class="cz_tip" style="display:none;">
                <div class="cz_tip_cont">
                    <div class="cz_tip_til">操作提示</div>
                    1.可能自拍杆头尾放反，请将有手扣端放在上面；<br>
                    2.可能自拍杆没收纳好，请将拉出的架子／线等收好，不露出自拍杆手把外；<br>
                    3.可能自拍杆没放到位，请取出后，再次放入试试。<br>
                    <a href="#" id="know" class="weui-btn weui-btn_primary page__bd_spacing cz_tip_bot" onclick="hide_tip()">知道了</a>
                </div>
            </div>
            <script src="{% static 'js/jquery-3.2.1.js' %}"></script>
            <script src="{% static 'js/jquery-min.js' %}"></script>
            <script src="http://182.61.58.155:2136/socket.io/socket.io.js"></script>
            <script>

                var socket = null;

                function return_back(){
                    init_socket();

                    var cabinet_code = '{{ cabinet_code }}';

                    sendmsg(cabinet_code + '&return');

                    logout();
                }

                function init_socket(){
                    socket = io.connect('ws://182.61.58.155:2136');

                    socket.emit('join', {username:'will'});

                    socket.on('pmsg', function(from, to, msg){
                        alert(msg);
                        if(msg=='return_success')
                        {
                            setTimeout("jump();", 3000);
                        }
                        else if(msg=='return_alert')
                        {
{#                            $('div').hide();#}
                            $('.cz_tip').show();
                        }
                    });
                }

                function jump() {
                    var openid = '{{ openid }}';
                    $.ajax({
                        type:"post",
                        url:"/weixin/update_lendhistory/",
                        data:{openid:openid},
                        success:function(result){
                            var result_list = result.split('&');
                            var res = result_list[0];
                            var need_pay = result_list[1];
                            if(res == 'True')
                            {
                                if (need_pay == 'True')
                                {
                                    location.href = '/weixin/return_pay/';
                                }
                                else
                                {
                                    location.href = '/weixin/privatecenter/';
                                }

                            }
                            else
                            {
                                alert('生成订单失败，请联系客服');
                            }

                        }
                    });

                }

                function logout()
                {
                    socket.emit('disconnect');
                }

                function sendmsg(msg){
                    alert('send msg' + msg);
                    socket.emit('private_message', 'will', 'will', msg);
                }

                window.onload = return_back;

                function hide_tip()
                {
                    $('.cz_tip').hide();
                }

            </script>

        {% else %}
            <div class="ts_cont">
               <img class="zgjs_img" src="{% static '/images/weixin/tk.jpg' %}" alt="该机柜已没有空间">
            </div>
            <div class="nr_con">
                <a href="/weixin/nearby/" id="nearby" class="weui-btn weui-btn_default  page__bd_spacing">查看附近可还机柜</a>
                <div class="cgsm">
                抱歉，此处自拍杆已集齐，此机柜已满仓<span class="col_z">存满</span>
                </div>

            </div>
        {% endifequal %}



{% endblock %}