{% extends "weixin/base.html" %}
{% load static %}
{% block title %}押金提现{% endblock %}
{% block head %}

{% endblock %}

{% block content %}

    <div class="ts_cont">
       <img class="zgjs_img" src="{% static '/images/weixin/txsq.jpg' %}" alt="发起提现">
    </div>
    <div class="nr_con">
            <a href="#"  id='withdraw' class="weui-btn weui-btn_primary page__bd_spacing" onclick="withdraw({{ deposit }}, {{ deposit_order_id }})">立即提现{{ deposit }}元</a>
            <div class="ts_til page__bd_spacing"><div class="ts_til_test">温馨提示</div> </div>
            <div class="sm_cont">
                申请成功后，预计0-5个工作日退还至您原支付账户
            </div>
     </div>

    <div>
        <span id="tip"></span>
    </div>

    <script src="/static/js/jquery-3.2.1.js"></script>
    <script src="/static/js/relalive.js"></script>
    <script>
        function withdraw(deposit, deposit_order_id)
        {
            $.ajax({
                 type: "POST",
                 url: "/weixin/exe_withdraw/",
                 data: {deposit:deposit, deposit_order_id:deposit_order_id},
                 dataType: "html",
                 success: function(data){
                     if (data.split('&')[0] == 'Success')
                     {
                         alert('success');
                     }
                     else{
                         alert(data.split('&')[1]);
                     }
                  }
             });
        }
    </script>
{% endblock %}